<div>
    <h2 id="page-heading">
        <span>Zamowienies</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-zamowienie" [routerLink]="['/zamowienie/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Zamowienie
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="zamowienies">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Cena calkowita</span></th>
            <th><span>Ilosc produktow</span></th>
            <th><span>Rabat</span></th>
            <th><span>Adres</span></th>
            <th><span>User</span></th>
            <th><span>Status</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let zamowienie of zamowienies ;trackBy: trackId">
                <td><a [routerLink]="['/zamowienie', zamowienie.id, 'view' ]">{{zamowienie.id}}</a></td>
                <td>{{zamowienie.cenacalkowita}}</td>
                <td>{{zamowienie.iloscproduktow}}</td>
                <td>
                    <div *ngIf="zamowienie.rabatId">
                        <a [routerLink]="['../rabat', zamowienie.rabatId , 'view' ]" >{{zamowienie.rabatId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="zamowienie.adresId">
                        <a [routerLink]="['../adres', zamowienie.adresId , 'view' ]" >{{zamowienie.adresId}}</a>
                    </div>
                </td>
                <td>
                    {{zamowienie.userId}}
                </td>
                <td>
                    <div *ngIf="zamowienie.statusId">
                        <a [routerLink]="['../status', zamowienie.statusId , 'view' ]" >{{zamowienie.statusId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/zamowienie', zamowienie.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/zamowienie', zamowienie.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'zamowienie/'+ zamowienie.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
