<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="zamowienie">
            <h2><span>Zamowienie</span> {{zamowienie.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Cenacalkowita</span></dt>
                <dd>
                    <span>{{zamowienie.cenacalkowita}}</span>
                </dd>
                <dt><span>Iloscproduktow</span></dt>
                <dd>
                    <span>{{zamowienie.iloscproduktow}}</span>
                </dd>
                <dt><span>Rabat</span></dt>
                <dd>
                    <div *ngIf="zamowienie.rabatId">
                        <a [routerLink]="['/rabat', zamowienie.rabatId, 'view']">{{zamowienie.rabatId}}</a>
                    </div>
                </dd>
                <dt><span>Adres</span></dt>
                <dd>
                    <div *ngIf="zamowienie.adresId">
                        <a [routerLink]="['/adres', zamowienie.adresId, 'view']">{{zamowienie.adresId}}</a>
                    </div>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{zamowienie.userId}}
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <div *ngIf="zamowienie.statusId">
                        <a [routerLink]="['/status', zamowienie.statusId, 'view']">{{zamowienie.statusId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/zamowienie', zamowienie.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
