<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-zamowienie-heading">Create or edit a Zamowienie</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!zamowienie.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="zamowienie.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cenacalkowita">Cenacalkowita</label>
                    <input type="number" class="form-control" name="cenacalkowita" id="field_cenacalkowita"
                        [(ngModel)]="zamowienie.cenacalkowita" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_iloscproduktow">Iloscproduktow</label>
                    <input type="number" class="form-control" name="iloscproduktow" id="field_iloscproduktow"
                        [(ngModel)]="zamowienie.iloscproduktow" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_rabat">Rabat</label>
                    <select class="form-control" id="field_rabat" name="rabat" [(ngModel)]="zamowienie.rabatId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="rabatOption.id" *ngFor="let rabatOption of rabats; trackBy: trackRabatById">{{rabatOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_adres">Adres</label>
                    <select class="form-control" id="field_adres" name="adres" [(ngModel)]="zamowienie.adresId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="adresOption.id" *ngFor="let adresOption of adres; trackBy: trackAdresById">{{adresOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="zamowienie.userId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" id="field_status" name="status" [(ngModel)]="zamowienie.statusId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="statusOption.id" *ngFor="let statusOption of statuses; trackBy: trackStatusById">{{statusOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
