<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="adres">
            <h2><span>Adres</span> {{adres.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Panstwo</span></dt>
                <dd>
                    <span>{{adres.panstwo}}</span>
                </dd>
                <dt><span>Miasto</span></dt>
                <dd>
                    <span>{{adres.miasto}}</span>
                </dd>
                <dt><span>Ulica</span></dt>
                <dd>
                    <span>{{adres.ulica}}</span>
                </dd>
                <dt><span>Numerdomu</span></dt>
                <dd>
                    <span>{{adres.numerdomu}}</span>
                </dd>
                <dt><span>Numermieszkania</span></dt>
                <dd>
                    <span>{{adres.numermieszkania}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/adres', adres.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
