<div>
    <h2 id="page-heading">
        <span>Adres</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-adres" [routerLink]="['/adres/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Adres
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="adres">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Panstwo</span></th>
            <th><span>Miasto</span></th>
            <th><span>Ulica</span></th>
            <th><span>Numerdomu</span></th>
            <th><span>Numermieszkania</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let adres of adres ;trackBy: trackId">
                <td><a [routerLink]="['/adres', adres.id, 'view' ]">{{adres.id}}</a></td>
                <td>{{adres.panstwo}}</td>
                <td>{{adres.miasto}}</td>
                <td>{{adres.ulica}}</td>
                <td>{{adres.numerdomu}}</td>
                <td>{{adres.numermieszkania}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/adres', adres.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/adres', adres.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'adres/'+ adres.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
