<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pozycjazamowienia">
            <h2><span>Pozycjazamowienia</span> {{pozycjazamowienia.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Pozycja</span></dt>
                <dd>
                    <span>{{pozycjazamowienia.pozycja}}</span>
                </dd>
                <dt><span>Cenasztuka</span></dt>
                <dd>
                    <span>{{pozycjazamowienia.cenasztuka}}</span>
                </dd>
                <dt><span>Ilosc</span></dt>
                <dd>
                    <span>{{pozycjazamowienia.ilosc}}</span>
                </dd>
                <dt><span>Zamowienie</span></dt>
                <dd>
                    <div *ngIf="pozycjazamowienia.zamowienieId">
                        <a [routerLink]="['/zamowienie', pozycjazamowienia.zamowienieId, 'view']">{{pozycjazamowienia.zamowienieId}}</a>
                    </div>
                </dd>
                <dt><span>Produkt</span></dt>
                <dd>
                    <div *ngIf="pozycjazamowienia.produktId">
                        <a [routerLink]="['/produkt', pozycjazamowienia.produktId, 'view']">{{pozycjazamowienia.produktId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pozycjazamowienia', pozycjazamowienia.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
