<div>
    <h2 id="page-heading">
        <span>Pozycjazamowienias</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pozycjazamowienia" [routerLink]="['/pozycjazamowienia/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Pozycjazamowienia
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="pozycjazamowienias">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Pozycja</span></th>
            <th><span>Cenasztuka</span></th>
            <th><span>Ilosc</span></th>
            <th><span>Zamowienie</span></th>
            <th><span>Produkt</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pozycjazamowienia of pozycjazamowienias ;trackBy: trackId">
                <td><a [routerLink]="['/pozycjazamowienia', pozycjazamowienia.id, 'view' ]">{{pozycjazamowienia.id}}</a></td>
                <td>{{pozycjazamowienia.pozycja}}</td>
                <td>{{pozycjazamowienia.cenasztuka}}</td>
                <td>{{pozycjazamowienia.ilosc}}</td>
                <td>
                    <div *ngIf="pozycjazamowienia.zamowienieId">
                        <a [routerLink]="['../zamowienie', pozycjazamowienia.zamowienieId , 'view' ]" >{{pozycjazamowienia.zamowienieId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="pozycjazamowienia.produktId">
                        <a [routerLink]="['../produkt', pozycjazamowienia.produktId , 'view' ]" >{{pozycjazamowienia.produktId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/pozycjazamowienia', pozycjazamowienia.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pozycjazamowienia', pozycjazamowienia.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pozycjazamowienia/'+ pozycjazamowienia.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
