<div>
    <h2 id="page-heading">
        <span>Produkts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-produkt" [routerLink]="['/produkt/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Produkt
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="produkts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nazwa</span></th>
            <th><span>Cena</span></th>
            <th><span>Ilosc</span></th>
            <th><span>Zdjecie</span></th>
            <th><span>Atrybut</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let produkt of produkts ;trackBy: trackId">
                <td><a [routerLink]="['/produkt', produkt.id, 'view' ]">{{produkt.id}}</a></td>
                <td>{{produkt.nazwa}}</td>
                <td>{{produkt.cena}}</td>
                <td>{{produkt.ilosc}}</td>
                <td>
                    <div *ngIf="produkt.zdjecieId">
                        <a [routerLink]="['../zdjecie', produkt.zdjecieId , 'view' ]" >{{produkt.zdjecieId}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let atrybut of produkt.atrybuts; let last = last">
                            <a class="form-control-static" [routerLink]="['../atrybut', atrybut?.id, 'view' ]">{{atrybut.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/produkt', produkt.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/produkt', produkt.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'produkt/'+ produkt.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
