<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-produkt-heading">Create or edit a Produkt</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!produkt.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="produkt.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nazwa">Nazwa</label>
                    <input type="text" class="form-control" name="nazwa" id="field_nazwa"
                        [(ngModel)]="produkt.nazwa" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cena">Cena</label>
                    <input type="number" class="form-control" name="cena" id="field_cena"
                        [(ngModel)]="produkt.cena" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ilosc">Ilosc</label>
                    <input type="number" class="form-control" name="ilosc" id="field_ilosc"
                        [(ngModel)]="produkt.ilosc" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_zdjecie">Zdjecie</label>
                    <select class="form-control" id="field_zdjecie" name="zdjecie" [(ngModel)]="produkt.zdjecieId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="zdjecieOption.id" *ngFor="let zdjecieOption of zdjecies; trackBy: trackZdjecieById">{{zdjecieOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_atrybut">Atrybut</label>
                    <select class="form-control" id="field_atrybut" multiple name="atrybut" [(ngModel)]="produkt.atrybuts">
                        <option [ngValue]="getSelected(produkt.atrybuts, atrybutOption)" *ngFor="let atrybutOption of atrybuts; trackBy: trackAtrybutById">{{atrybutOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
