<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="produkt">
            <h2><span></span> {{produkt.nazwa}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nazwa</span></dt>
                <dd>
                    <span>{{produkt.nazwa}}</span>
                </dd>
                <dt><span>Cena</span></dt>
                <dd>
                    <span>{{produkt.cena}}</span>
                </dd>
                <dt><span>Ilosc</span></dt>
                <dd>
                    <span>{{produkt.ilosc}}</span>
                </dd>
                <dt><span>Zdjecie</span></dt>
                <dd>
                    <div *ngIf="produkt.zdjecieId">
                        <a [routerLink]="['/zdjecie', produkt.zdjecieId, 'view']">{{produkt.zdjecieId}}</a>
                    </div>
                </dd>
                <dt><span>Atrybut</span></dt>
                <dd>
                    <span *ngFor="let atrybut of produkt.atrybuts; let last = last">
                        <a [routerLink]="['/atrybut', atrybut?.id, 'view' ]">{{atrybut.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/produkt', produkt.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
