<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Welcome, to MultiStore</h1>
        <p class="lead">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div>
        </div>

        <p>
            If you have any question to our staff:
        </p>

        <ul>
            <li><a href="https://www.google.com" target="_blank" rel="noopener">Contact us</a></li>
            
        </ul>

        <p>
            <span>If you like MultiSXDtore, don't forget to give us a like on</span> <a href="https://www.facebook.com/groups/kononowiczmajor/" target="_blank" rel="noopener">Facebook</a>!
        </p>
    </div>
   <tbody width="400">
            <tr *ngFor="let produkt of produkts ;trackBy: trackId">
                <td><a [routerLink]="['/produkt', produkt.id, 'view' ]">{{produkt.id}}</a></td>
                <td>{{produkt.nazwa}}</td>
                <td>{{produkt.cena}}</td>
                <td>{{produkt.ilosc}}</td>
                
                <td>
                    <span *ngFor="let atrybut of produkt.atrybuts; let last = last">
                            <a class="form-control-static" [routerLink]="['../atrybut', atrybut?.id, 'view' ]">{{atrybut.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>

                                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/produkt', produkt.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pozycjazamowienia/new', produkt.id]" 
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Buy</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
</div>
