<div>
    <h2 id="page-heading">
        <span>Zdjecies</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-zdjecie" [routerLink]="['/zdjecie/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Zdjecie
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="zdjecies">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Opis</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let zdjecie of zdjecies ;trackBy: trackId">
                <td><a [routerLink]="['/zdjecie', zdjecie.id, 'view' ]">{{zdjecie.id}}</a></td>
                <td>{{zdjecie.opis}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/zdjecie', zdjecie.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/zdjecie', zdjecie.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'zdjecie/'+ zdjecie.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
