<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sposobdostawy">
            <h2><span>Sposobdostawy</span> {{sposobdostawy.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Rodzaj</span></dt>
                <dd>
                    <span>{{sposobdostawy.rodzaj}}</span>
                </dd>
                <dt><span>Cena</span></dt>
                <dd>
                    <span>{{sposobdostawy.cena}}</span>
                </dd>
                <dt><span>Zamowienie</span></dt>
                <dd>
                    <div *ngIf="sposobdostawy.zamowienieId">
                        <a [routerLink]="['/zamowienie', sposobdostawy.zamowienieId, 'view']">{{sposobdostawy.zamowienieId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sposobdostawy', sposobdostawy.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
