<div>
    <h2 id="page-heading">
        <span>Sposobdostawies</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sposobdostawy" [routerLink]="['/sposobdostawy/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Sposobdostawy
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="sposobdostawies">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Rodzaj</span></th>
            <th><span>Cena</span></th>
            <th><span>Zamowienie</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sposobdostawy of sposobdostawies ;trackBy: trackId">
                <td><a [routerLink]="['/sposobdostawy', sposobdostawy.id, 'view' ]">{{sposobdostawy.id}}</a></td>
                <td>{{sposobdostawy.rodzaj}}</td>
                <td>{{sposobdostawy.cena}}</td>
                <td>
                    <div *ngIf="sposobdostawy.zamowienieId">
                        <a [routerLink]="['../zamowienie', sposobdostawy.zamowienieId , 'view' ]" >{{sposobdostawy.zamowienieId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sposobdostawy', sposobdostawy.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sposobdostawy', sposobdostawy.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sposobdostawy/'+ sposobdostawy.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
