<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-sposobdostawy-heading">Create or edit a Sposobdostawy</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!sposobdostawy.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="sposobdostawy.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rodzaj">Rodzaj</label>
                    <input type="text" class="form-control" name="rodzaj" id="field_rodzaj"
                        [(ngModel)]="sposobdostawy.rodzaj" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cena">Cena</label>
                    <input type="number" class="form-control" name="cena" id="field_cena"
                        [(ngModel)]="sposobdostawy.cena" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_zamowienie">Zamowienie</label>
                    <select class="form-control" id="field_zamowienie" name="zamowienie" [(ngModel)]="sposobdostawy.zamowienieId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="zamowienieOption.id" *ngFor="let zamowienieOption of zamowienies; trackBy: trackZamowienieById">{{zamowienieOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
